
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles, color copy kore niye asle tar aage ekta # bosaite hoy */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
.section-title{
    font-size: 35;
    font-weight: bold;
    color: #181818;

}
.section-description{
    font-size: 18px;
    color:#757575;
}
.secondary-bg{
    background-color: #ddd0c7;
}

.text-center{
    text-align: center;
}

/* Header styles */

.header{
    /* ekhane chaile koma diye 2ta image o nite pari */
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* 2ta image er position niche thik korlam, prothom ta bam e o upore, porer ta dan e o niche. */
    background-position: top left, bottom right;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
.nav-tittle{
    width: 800px;
    font-size:45px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 10px;
}


/* Banner Styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;

}

.banner-greetings{
    font-size: 45px;
    font-weight: 600px;

}
.banner-tittle{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-picture{
    width: 580px;
}
/* About Styles */
.about{

    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;


}
/* Main Styles */
.main{
    max-width: 1140px;
    /* margin auto dile dan e bam e jai hok na kno se center e auto niye nibe tota width er */
    margin: 0 auto;

}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: bold;
}

/* skills section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    /* background-color: white; */
    box-shadow: 0px 6px 50px 0px #000000;
    border-radius: 5px;
}
/* Resume Style */

.resume-container{
    display: flex;
    gap: 24px;

}
.experience-sub-title{
    font-size: 20px;
    font-weight: 500px;
    /* margin-top: 10px; */
    margin-bottom: 20px;

}

.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;

}
/* Download Button */
.resume-download-cv{

    margin-top: 50px;
}
/* Footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{

    height: 40px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width:100%;
    padding: 10px 25px;
    margin-bottom: 24px;
    border: none;
}
